@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/c3/css/c3.css" />
<div class="container">

    <h2>Indicadores</h2>
    <div class="row" id="ContenedorGraficas"></div>
</div>
@section Scripts
{
<script src="~/lib/c3/js/d3-5.8.2.min.js"></script>
<script src="~/lib/c3/js/c3.min.js"></script>
<script src="~/js/Graficas/graficas.js"></script>
}
